# 2장연습 문제

In [0]:
(80+75+55)/3

70.0

In [0]:
# 나머지
1%2

1

In [0]:
# 13을 나눌때 나머지가 1이니까 홀수

In [0]:
a = "881120-1068234"

In [0]:
b = a[:6]

In [0]:
c = a[7:]

In [0]:
print(c)

1068234

In [0]:
print(b)

881120

In [0]:
print(a[7])

1

In [0]:
a = "a:b:c:d"
b = a.replace(":" , "#")

In [0]:
print(b)

a#b#c#d

In [0]:
a = [1,3,5,4,2]

In [0]:
a.sort()

In [0]:
a.reverse()

In [0]:
print(a)

[5, 4, 3, 2, 1]

In [0]:
a =["life", "is", "too", "short"]

In [0]:
result = " ".join(a)

In [0]:
print(result)

life is too short

In [0]:
a = (1,2,3)

In [0]:
a = a+(4,)

In [0]:
print(a)

(1, 2, 3, 4)

In [0]:
a = (1,2,3)
print(id(a))

140609251271520

In [0]:
a = a+ (4,)

In [0]:
print(a)

(1, 2, 3, 4)

In [0]:
print(id(a))

140609242599000

In [0]:
a[[1]] = 'python'

TypeError: ignored

In [0]:
a = {'A':90, 'B':80, 'C':70}

In [0]:
result = a.pop("B")

In [0]:
print(a)

{'A': 90, 'C': 70}

In [0]:
print(result)

80

In [0]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [0]:
aSet = set(a)

In [0]:
b = list(aSet)

In [0]:
print(b)

[1, 2, 3, 4, 5]

In [0]:
#"=" 동일한 리스트를 가리키고있다

# 제어문

In [0]:
" 돈이 있으면 택시를 타고, 돈이 없으면 걸어 간다."

' 돈이 있으면 택시를 타고, 돈이 없으면 걸어 간다.'

In [0]:
money = True
if money:
  print("택시를 타고 가라")
else:
  print("걸어 가라")

택시를 타고 가라

In [0]:
money = True
if money:
    print("택시를")
    print("타고")
    print("가라")

택시를
타고
가라

# 조건문

In [0]:
x = 3 
y = 2
x > y

True

In [0]:
x < y

False

In [0]:
x == y

False

In [0]:
x != y

True

In [0]:
money =  2000
if money >= 3000:
  print("택시를 타고 가라")
else:
  print("걸어가라")

걸어가라

# and, or, not

In [0]:
money = 2000
card = True
if money >= 3000 or card:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

# x in s, x not in s

In [0]:
1 in [1,2,3]

True

In [0]:
1 not in [1,2,3]

False

In [0]:
"a" in ("a","b","c")

True

In [0]:
"j" not in "python"

True

In [0]:
"만약 주머니에 돈이 있으면 택시를 타고, 없으면 걸어 가라."

'만약 주머니에 돈이 있으면 택시를 타고, 없으면 걸어 가라.'

In [0]:
pocket = ['paper', 'cellphon', 'money']
if 'money' in pocket:
  print("택시를 타고 가라")
else:
  print("걸어가라")

택시를 타고 가라

In [0]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
  pass
else:
  print("카드를 꺼내라")

In [0]:
pocket = ['paper', 'handphone']
card = True

if 'money' in pocket:
   print("택를 타고가라")
else:  
  print("걸어가라")

걸어가라

In [0]:
pocket = ['paper', 'handphone']
card = True

if 'money' in pocket:
   print("택를 타고가라")
elif card:
  print("택시를 타고가라")
else:  
  print("걸어가라")

택시를 타고가라

In [0]:
if 'money' in pocket:
  pass
else:
  print("카드를 꺼내라")

카드를 꺼내라

In [0]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket: pass
else: print("카드를 꺼내라")

# 조건부 표현식

In [0]:
if score >= 60:
  message = "success"
else:
  message = "failure"

NameError: ignored

In [0]:
message = "success" if score >= 60 else "failure"

NameError: ignored

# while문

In [0]:
threeHit = 0
while threeHit <10:
  
  threeHit = threeHit +1
  print("나무를 %d번 찍었습니다." % threeHit)
  if threeHit == 10:
    print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [0]:
prompt = """
1. Add
2. Del
3. List
4. Quit
Enter number: """

In [0]:
number = 0
while number != 4:
  print(prompt)
  number = int(input())

1. Add
2. Del
3. List
4. Quit
Enter number:
1

1. Add
2. Del
3. List
4. Quit
Enter number:
4

In [5]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍시다.")
    coffee = coffee -1
    print("남은 커피의 양은 %d개입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다.판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍시다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍시다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍시다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍시다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍시다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍시다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍시다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍시다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍시다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍시다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다.판매를 중지합니다.

In [6]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어 주세요: 2000
거스름돈 1700를 주고 커피를 줍니다.
돈을 넣어 주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 9개 입니다.
돈을 넣어 주세요: 3000
거스름돈 2700를 주고 커피를 줍니다.
돈을 넣어 주세요: 5000
거스름돈 4700를 주고 커피를 줍니다.
돈을 넣어 주세요: 3000
거스름돈 2700를 주고 커피를 줍니다.
돈을 넣어 주세요: 5000
거스름돈 4700를 주고 커피를 줍니다.
돈을 넣어 주세요: 3000
거스름돈 2700를 주고 커피를 줍니다.
돈을 넣어 주세요: 5000
거스름돈 4700를 주고 커피를 줍니다.
돈을 넣어 주세요: 6000
거스름돈 5700를 주고 커피를 줍니다.
돈을 넣어 주세요: 5000
거스름돈 4700를 주고 커피를 줍니다.
돈을 넣어 주세요: 2000
거스름돈 1700를 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

# 함수

In [0]:
def add(a, b):
  return a+b

In [10]:
a = 3
b = 4
c = add(a, b)
print(c)

7

#입력값이 없는 함수

In [0]:
def say():
    return "Hi"

In [12]:
a=say()
print(a)

Hi

In [0]:
def add(a,b):
    print("%d, %d의 합은 %d입니다." %(a,b,a+b))

In [15]:
add(3, 4)

3, 4의 합은 7입니다.

In [17]:
a = add(3, 4)
print(a)

3, 4의 합은 7입니다.
None

In [0]:
def say():
    print("Hi")

In [19]:
say()

Hi

# 매개변수 지정 호출

In [0]:
def add(a, b):
  return a+b

In [25]:
result = add(a=3, b=7)
print(result)

10

In [26]:
result = add(a=5,b=3)
print(result)

8

#여러개의 입력값을 받는 함수

In [0]:
def add_many(*args): 
     result = 0 
     for i in args: 
         result = result + i 
     return result

In [30]:
result=add_many(1,2,3)
print(result)

6

In [31]:
result=add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [0]:
def add_mul(choice, *args): 
     if choice == "add": 
         result = 0 
         for i in args: 
             result = result + i 
     elif choice == "mul": 
         result = 1 
         for i in args: 
             result = result * i 
     return result

In [36]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [37]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

# 함수의 결괏값은 언제나 하나이다

In [0]:
def add_and_mul(a,b):
  return a+b, a*b

In [0]:
result = add_and_mul(3,4)

In [41]:
print(result)

(7, 12)

In [0]:
def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별명은 %s입니다." %nick)

In [44]:
say_nick("야호")

나의 별명은 야호입니다.

In [0]:
say_nick("바보")

#매개변수에 초깃값 미리 설정하기

In [0]:
def say_myself(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")

In [47]:
say_myself("박응용",27)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [50]:
say_myself("박응선",27,False)

나의 이름은 박응선 입니다.
나이는 27살입니다.
여자입니다.

In [51]:
def say_myself(name, man=True, old): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.") 
    else: 
        print("여자입니다.")

SyntaxError: ignored

#함수 안에서 선언한 변수의 효력 범위

In [52]:
a=1
def vartest(a):
    a=a+1
vartest(a)
print(a)

1

In [0]:
def vartest(hello):
    hello=hello+1

In [54]:
def vartest(a):
    a=a+1
vartest(3)
print(a)

1

# 함수 안에서 함수 밖의 변수를 변경하는 방법

In [55]:
a = 1 
def vartest(a): 
    a = a +1 
    return a

a = vartest(a) 
print(a)

2

In [0]:
#global

In [57]:
a = 1 
def vartest(): 
    global a 
    a = a+1

vartest() 
print(a)

2

#lambda

In [59]:
add = lambda a, b: a+b
result = add(3, 4)
print(result)

7

In [60]:
def add(a, b):
 return a+b

result = add(3, 4)
print(result)

7

#input의 사용

In [61]:
a=input()

Life is too short, you need python

In [62]:
a

'Life is too short, you need python'

In [63]:
number=input("숫자를 입력하세요.")

숫자를 입력하세요.5

In [64]:
print(number)

5

# print

In [65]:
a=123
print(a)

123

In [66]:
a="Python"
print(a)

Python

In [67]:
a=[1,2,3]
print(a)

[1, 2, 3]

#큰따옴표(")로 둘러싸인 문자열은 + 연산과 동일하다

In [69]:
print("life""is""too short")

lifeistoo short

In [70]:
print("life"+"is"+"too short")

lifeistoo short

#문자열 띄어쓰기는 콤마로 한다

In [71]:
print("life","is","too short")

life is too short

#한 줄에 결괏값 출력하기

In [72]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

#파일 읽고 쓰기

In [0]:
f = open("새파일.txt", 'w')
f.close()

In [0]:
f = open("/content/drive/새파일.txt", 'w')
f.close()

In [0]:
f=open("새파일.txt",'w')
for i in range(1,11):
    data="%d번째 줄입니다.\n" %i
    f.write(data)
f.close()

In [85]:
for i in range(1,11):
    data="%d번째 줄입니다.\n" %i
    print(data)

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [86]:
f=open("새파일.txt","r")
line=f.readline()
print(line)
f.close()

1번째 줄입니다.

In [88]:
f=open("새파일.txt","r")
while True:
    line=f.readline()
    if not line:break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [92]:
f=open("새파일.txt","r")
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [0]:
f=open("새파일.txt","a")
for i in range(11, 20):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [0]:
f=open("foo.txt","w")
f.write("Life is too short, you need python")
f.close()

In [0]:
with open("foo.txt","w") as f:
    f.write("Life is too short, you need python")

In [0]:
def fib(n):
    if n==0 : return(0)
    if n==1 : return(1)
    return fib(n-1)+fib(n-2)

In [97]:
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:2
두번째 숫자를 입력하세요:3
두 수의 합은 23 입니다

In [0]:
d