## 02장 연습문제

-----
Q1. 평균점수 구하기

In [1]:
#국어 80 / 영어 75 / 수학 55

kor=80
eng=75
math=55

score=(kor+eng+math)/3
print(score)

70.0

In [5]:
score=[80,75,55]
total=0
for i in score:
    total=total+i
print(total/3)

70.0

In [9]:
def avr(*args):
    total=0
    for score in args:
        total=total+score
    return total/3

result=avr(80,75,55)
print(result)

70.0

-----
Q2. 자연수 13이 홀수인지 짝수인지 판별

In [10]:
num=13
if num%2==0:
    print("짝수")
else:
    print("홀수")

홀수

In [17]:
num=int(input("자연수를 입력하세요: "))
if num%2==0:
    print("짝수")
else:
    print("홀수")

자연수를 입력하세요: 13
홀수

Q3. 주민등록번호 881120-1068234를 연월일(YYYYMMDD)부분과 숫자 부분으로 나누어 출력

In [57]:
rnum="881120-1068234"

date=rnum[:6]
numb=rnum[7:]

In [58]:
date

'881120'

In [59]:
numb

'1068234'

-----
Q4. 주민번호에서 성별을 나타내는 숫자 출력

In [24]:
pin="881120-1068234"

sex=pin[7]
print(sex)

1

-----
Q5. replace 함수를 사용하여 :를 #로 바꿔서 출력

In [60]:
a5="a:b:c:d"

a5=a5.replace(":", "#")
print(a5)

a#b#c#d

-----
Q6. [1,3,5,4,2]를 [5,4,3,2,1]로 바꾸기

In [16]:
a6=[1,3,5,4,2]
a6.sort()
a6.reverse()
print(a6)

[5, 4, 3, 2, 1]

-----
Q7. ['Life','is','too','short'] 리스트를 Life is too short 문자열로 만들어 출력

In [22]:
a7=['Life','is','too','short']
print(a7[0]+" "+a7[1]+" "+a7[2]+" "+a7[3])

Life is too short

In [61]:
#책에 나온 답

a7=['Life','is','too','short']
result=" ".join(a7)
print(result)

Life is too short

-----
Q8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력

In [25]:
a8=(1,2,3)
a88=(4,)

a8+a88

(1, 2, 3, 4)

In [62]:
#책에 나온 답

a8=(1,2,3)
a8=a8+(4,)
print(a8)

(1, 2, 3, 4)

In [63]:
#확인

a8=(1,2,3)
print(id(a8))

2340058431776

In [64]:
#확인2 : 튜플은 값을 변경할 수 없음. a8값이 변경되는 것이 아니라 새로운 튜플이 생성되고 그 값이 a8변수에 대입되는것.
a8=a8+(4,)
print(a8)
print(id(a8))

(1, 2, 3, 4)
2340059170280

-----
Q9. 다음 딕셔너리 a가 있다. 오류가 발생하는 경우를 고르고 이유를 설명하기

In [34]:
a=dict()
a

{}

In [30]:
a["name"]="python"
a

{'name': 'python'}

In [33]:
a[("a",)]="python"
a

{('a',): 'python'}

In [35]:
a[[1]]="python"
a

#딕셔너리 key값에 리스트는 사용할 수 없기 때문. 리스트는 값이 변하기 때문에 key로 사용 불가.

TypeError: unhashable type: 'list'

In [37]:
a[250]="python"
a

{250: 'python'}

-----
Q10. 딕셔너리a에서 'B'에 해당하는 값을 추출

In [38]:
a10={'A':90, 'B':80, 'C':70}

In [39]:
a10['B']

80

In [65]:
#책에 나온 답

a10={'A':90, 'B':80, 'C':70}
result=a10.pop('B')
print(a10)
print(result)

{'A': 90, 'C': 70}
80

-----
Q11. a리스트에서 중복 숫자를 제거

In [54]:
a11=[1,1,1,2,2,3,3,3,4,4,5]

In [44]:
a11.count(1)

3

In [45]:
a11.remove(1)
a11.remove(1)
a11.count(1)

1

In [46]:
a11.count(2)

2

In [47]:
a11.remove(2)
a11.count(2)

1

In [48]:
a11.count(3)

3

In [49]:
a11.remove(3)
a11.remove(3)
a11.count(3)

1

In [50]:
a11.count(4)

2

In [51]:
a11.remove(4)
a11.count(4)

1

In [52]:
a11.count(5)

1

In [53]:
a11

[1, 2, 3, 4, 5]

In [56]:
a11=[1,1,1,2,2,3,3,3,4,4,5]

for i in a11:
    if a11.count(i)==1:
        pass
    else:
        a11.remove(i)
print(a11)

[1, 2, 3, 3, 4, 5]

In [66]:
#책에 나온 답 : 집합 자료형은 중복을 허용하지 않으므로 종종 중복 제거 필터로도 사용

a11=[1,1,1,2,2,3,3,3,4,4,5]
a11Set=set(a11)
result=list(a11Set)
print(result)

[1, 2, 3, 4, 5]

-----
Q12. 다음과 같이 a,b변수를 선언한 뒤 두 번재 요솟값을 변경하면 b값은 어떻게 될까? 결과의 이유도 함께 설명

In [14]:
a=b=[1,2,3]
a[1]=4
print(b)

[1, 4, 3]

In [15]:
#b값도 바뀐다. a와 b리스트는 이름만 다를뿐 같은 리스트이기 때문이다.

## 03-1-1. if문은 왜 필요할까?

In [1]:
money=True

if money:
    print("taxi")
else:
    print("walk")

taxi

## 03-1-2. if문의 기본 구조 / 03-1-3. 들여쓰기

In [3]:
money=True

if money:
    print("Take")
    print("a")
    print("taxi")

Take
a
taxi

## 03-1-4. 조건문이란 무엇인가?

-----
비교연산자

In [4]:
x=3
y=2

x>y

True

In [5]:
x<y

False

In [6]:
x!=y

True

In [7]:
#만약 3000원 이상 돈이 있으면 택시, 아니면 걸어가기

if money >= 3000:
    print("Taxi")
else:
    print("Walk")
    
money=2000

Walk

-----
and, or, not

In [14]:
#돈이 3000원 이상 있거나 카드가 있다면 택시, 아니면 걸어가기

money=1000
card=True

if money>=3000 or card:
    print("Taxi")
else:
    print("Walk")

Taxi

-----
x in s, x not in s

In [15]:
#리스트
1 in [1,2,3]

True

In [16]:
1 not in [1,2,3]

False

In [17]:
#튜플
'a' in {'a','b','c'}

True

In [18]:
#문자열
'j' in 'Python'

False

In [19]:
'p' in 'Python'

False

In [23]:
#만약 주머니에 돈이 있으면 택시, 없으면 걸어가기

pocket=['paper','notebook','phone','money']

if 'money' in pocket:
    print("Taxi")
else:
    print("Walk")

Taxi

In [26]:
#주머니에 돈이 있으면 가만히 있고, 돈이 없으면 카드를 꺼내라

pocket=["paper","notebook","pen","money"]

if "money" in pocket:
    pass
else:
    print("card")

## 03-1-5. 다양한 조건을 판단하는 elif

In [28]:
#주머니에 돈이 있으면 택시를 타고, 주머니에 돈은 없지만 카드가 있으면 택시를 타고, 돈도 없고 카드도 없으면 걸어가기

pocket=["card","mac","iphone"]

if "money" in pocket:
    print("Taxi")
else:
    if "card" in pocket:
        print("Taxi")
    else:
        print("Walk")

Taxi

In [29]:
pocket=["mac","ipad"]
card=True

if "money" in pocket:
    print("Taxi")
elif card:
    print("Taxi")
else:
    print("Walk")

Taxi

In [30]:
pocket=["mac","money","book"]

if "money" in pocket: pass
else: print("Walk")

## 03-1-6. 조건부 표현식

In [38]:
score=55

if score>=60:
    message = "success"
else:
    message = "failure"
    
print(message)

failure

In [39]:
score=60

message="success" if score>=60 else "failure"
print(message)

success

## 03-2-1. while문의 기본 구조

In [40]:
#열 번 찍어 안 넘어가는 나무 없다.

treeHit=0
while treeHit<10:
    treeHit=treeHit+1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit==10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

## 03-2-2. while문 만들기

In [41]:
prompt="""
1.Add
2.Del
3.List
4.Quit

Enter number: """

In [42]:
number=0
while number !=4:
    print(prompt)
    number=int(input())

1.Add
2.Del
3.List
4.Quit

Enter number:
3

1.Add
2.Del
3.List
4.Quit

Enter number:
2

1.Add
2.Del
3.List
4.Quit

Enter number:
4

## 03-2-3. while문 강제로 빠져나가기

In [45]:
coffee=10
money=300

while money:
    print("Enjoy your coffee!")
    coffee=coffee-1
    print("%d" % coffee)
    if coffee==0:
        print("Sold out. Thanks.")
        break

Enjoy your coffee!
9
Enjoy your coffee!
8
Enjoy your coffee!
7
Enjoy your coffee!
6
Enjoy your coffee!
5
Enjoy your coffee!
4
Enjoy your coffee!
3
Enjoy your coffee!
2
Enjoy your coffee!
1
Enjoy your coffee!
0
Sold out. Thanks.

In [1]:
coffee=10

while True:
    money=int(input("Insert the coin."))
    if money==300:
        print("Enjoy your coffee!")
        coffee=coffee-1
    elif money>300:
        print("Enjoy your coffee! Here's your charge. : %dwon" % (money-300))
        coffee=coffee-1
    else:
        print("Please insert more coin.")
    if coffee==0:
        print("Sold out. Thanks")
        break

Insert the coin.200
Please insert more coin.
Insert the coin.400
Enjoy your coffee! Here's your charge. : 100won
Insert the coin.300
Enjoy your coffee!
Insert the coin.300
Enjoy your coffee!
Insert the coin.300
Enjoy your coffee!
Insert the coin.500
Enjoy your coffee! Here's your charge. : 200won
Insert the coin.1000
Enjoy your coffee! Here's your charge. : 700won
Insert the coin.450
Enjoy your coffee! Here's your charge. : 150won
Insert the coin.300
Enjoy your coffee!
Insert the coin.300
Enjoy your coffee!
Insert the coin.399
Enjoy your coffee! Here's your charge. : 99won
Sold out. Thanks

## 03-2-4. while문의 맨 처음으로 돌아가기

In [2]:
#1부터 10까지 홀수만 출력
a=0
while a<10:
    a=a+1
    if a%2==0 : continue
    print(a)

1
3
5
7
9

## 03-2-5. 무한루프

In [ ]:
#while True:
#    print("Ctrl+C를 눌러야 while문을 빠져나갈 수 있습니다.")

## 03-3-2. 예제를 통해 for문 이해하기

-----
전형적인 for문

In [1]:
test_list=["one","two","three"]
for i in test_list:
    print(i)

one
two
three

-----
다양한 for문의 사용

In [2]:
a=[(1,2),(3,4),(5,6)]
for (first, last) in a:
    print(first+last)

3
7
11

-----
for문의 응용

In [3]:
#5명의 시험을 봤는데 점수가 60 넘으면 합격, 아니면 불합. 합인지 불합인지 결과를 보여주시오.

marks=[90,25,67,45,80]
for i in marks:
    if i>60:
        print("pass")
    else:
        print("fail")

pass
fail
pass
fail
pass

In [4]:
marks=[90,25,67,45,80]

number=0
for mark in marks:
    number=number+1
    if mark>60:
        print("%s번 학생은 합격입니다." % number)
    else:
        print("%s번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

## 03-3-3. for문과 contunue

In [6]:
#60점 이상인 사람에게만 축하메시지 보내기

marks=[90,25,67,45,80]
number=0
for i in marks:
    number=number+1
    if i<60:
        continue
    else:
        print("Contratulations, student No.%s! You are pass the exam:)" % number)

Contratulations, student No.1! You are pass the exam:)
Contratulations, student No.3! You are pass the exam:)
Contratulations, student No.5! You are pass the exam:)

## 03-3-4. for문과 함께 자주 사용하는 range 함수

In [8]:
a=range(10)
a

range(0, 10)

In [9]:
a=range(1,11)
a

range(1, 11)

-----
range 함수의 예시 살펴보기

In [14]:
#1부터 10까지 더하기

add=0
for i in range(1,11):
    add=add+i
    
print(add)

55

In [15]:
marks=[90,25,67,45,80]
for number in range(len(marks)):
    if marks[number]<60:
        continue
    else:
        print("Contratulations, student No.%s! You are pass the exam:)" % (number+1))

Contratulations, student No.1! You are pass the exam:)
Contratulations, student No.3! You are pass the exam:)
Contratulations, student No.5! You are pass the exam:)

In [24]:
#구구단

for number1 in range(2,10):
    for number2 in range(1,10):
        print(number1*number2, end=" ")
    print("")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

## 03-3-5. 리스트 내포 사용하기

In [25]:
a=[1,2,3,4]
result=[]
for num in a:
    result.append(num*3)
    
print(result)

[3, 6, 9, 12]

In [26]:
a=[1,2,3,4]
result=[num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [29]:
a=[1,2,3,4]
result=[num*3 for num in a if num%2==0]
print(result)

[6, 12]

In [30]:
result = [number1*number2 for number1 in range(2,10)
                          for number2 in range(1,10)]

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 03장 연습문제

-----
Q1. 다음 코드의 결과값은?

In [34]:
a="Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

-----
Q2. while문을 사용해 1부터 1000까지 자연수 중 3의 배수의 합을 구하기

In [4]:
i=0
total=0
while i<=1000:
    i=i+1
    if i%3!=0:
        pass
    else:
        total=total+i
print(total)

166833

In [22]:
#책에 나온 답

result=0
i=1
while i<=1000:
    if i%3==0:
        result=result+i
    i=i+1
    
print(result)

166833

-----
Q3. while문을 이용해 * 표시 나오게 프로그램 작성

In [6]:
i=0
while i<=4:
    i=i+1
    print("*"*i)

*
**
***
****
*****

In [23]:
#책에 나온 답

i=0
while True:
    i=i+1
    if i>5: break
    print("*"*i)

*
**
***
****
*****

-----
Q4. for문을 사용해 1~100 숫자 출력

In [12]:
for i in range(100):
    i=i+1
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [25]:
#책에 나온 답

for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

-----
Q5. for문을 이용해 다음 학급의 평균점수 구하기

In [15]:
A=[70,60,55,75,95,90,80,80,85,100]

total=0
for i in range(len(A)):
    total=total+A[i]
    i=i+1
print(total/10)

79.0

In [26]:
#책에 나온 답

A=[70,60,55,75,95,90,80,80,85,100]
total=0

for i in A:
    total=total+i
    
avr=total/len(A)
print(avr)

79.0

-----
Q6. 리스트 중 홀수에만 2를 곱하여 저장하는 코드이다. 다음 코드를 리스트 내포를 사용하여 표현해보자.

In [18]:
nums=[1,2,3,4,5]
result=[]
for n in nums:
    if n%2==1:
        result.append(n*2)

In [21]:
nums=[1,2,3,4,5]
result=[n*2 for n in nums if n%2==1]
print(result)

[2, 6, 10]

## 04-1-3. 파이썬 함수의 구조

In [41]:
def add(a,b):
    return a+b

a=3
b=4
c=add(a,b)
print(c)

7

## 04-1-4. 매개변수와 인수

In [32]:
def add(a,b):      #a,b는 매개변수
    return a+b

print(add(3,4))    #3,4는 인수

7

## 04-1-5. 입력값과 결괏값에 따른 함수의 형태

-----
일반적인 함수

In [47]:
def add(a,b):
    result = a+b
    return result

c=add(a,b)
print(c)

7

-----
입력값이 없는 함수

In [48]:
def say():
    return "Hi!"

a=say()
print(a)

Hi!

-----
결괏값이 없는 함수

In [49]:
def add(a,b):
    print("%s, %s의 합은 %s입니다." % (a, b, a+b))
    
add(3,4)

3, 4의 합은 7입니다.

In [50]:
a=add(3,4)
print(a)

3, 4의 합은 7입니다.
None

-----
입력값도 결괏값도 없는 함수

In [51]:
def say():
    print("Hi!")
    
say()

Hi!

## 04-1-6. 매개변수 지정하여 호출하기

In [52]:
def add(a,b):
    return a+b

result=add(a=3, b=7)
print(result)

10

In [53]:
result=add(b=5, a=3)
print(result)

8

## 04-1-7. 입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?

In [54]:
def add_many(*args):
    result=0
    for i in args:
        result=result+i
    return result

result=add_many(1,2,3,4,5,6,7,8)
print(result)

36

In [58]:
def add_mul(choice, *args):
    if choice=="add":
        result=0
        for i in args:
            result=result+i
    elif choice=="mul":
        result=1
        for i in args:
            result=result*i
    return result

result=add_mul("mul", 1,2,3,4)
print(result)

24

In [59]:
result=add_mul("add",2,3,4,5,6)
print(result)

20

-----
키워드 파라미터

In [60]:
def print_kwargs(**kwargs):
    print(kwargs)
    
print_kwargs(a=1)

{'a': 1}

In [62]:
print_kwargs(name="kim", age=26)

{'age': 26, 'name': 'kim'}

## 04-1-8. 함수의 결괏값은 언제나 하나이다

In [64]:
def add_and_mul(a,b):
    return a+b, a*b

result=add_and_mul(3,4)
print(result)

(7, 12)

In [65]:
result1, result2 = add_and_mul(3,4)
print(result1)

7

In [66]:
print(result2)

12

In [68]:
def add_and_mul(a,b):
    return a+b
    return a*b

result=add_and_mul(2,3)
print(result)

5

In [69]:
def say_nick(nick):
    if nick=="멍충이":
        return
    print("나의 별명은 %s 입니다." % nick)

In [70]:
say_nick("여니")

나의 별명은 여니 입니다.

In [71]:
say_nick("멍충이")

## 04-1-9. 매개변수에 초깃값 미리 설정하기

In [72]:
def say_myself(name, old, man=True):
    print("My name is %s." % name)
    print("I'm %s years old." % old)
    if man:
        print("Man")
    else:
        print("Woman")

say_myself("kim",26,False)

My name is kim.
I'm 26 years old.
Woman

In [73]:
say_myself("Kim",19)

My name is Kim.
I'm 19 years old.
Man

In [74]:
#초기화시키고 싶은 매개변수는 항상 뒤쪽에 놓아야함!

def say_myself(name, man=True, old):
    print("My name is %s." % name)
    print("I'm %s years old." % old)
    if man:
        print("Man")
    else:
        print("Woman")
        
say_myself("kim",23)

SyntaxError: non-default argument follows default argument (<ipython-input-74-f8e530f4c67d>, line 3)

## 04-1-10. 함수 안에서 선언한 변수의 효력 범위

In [82]:
a=1
def vartest(a):
    a=a+1
    print(a)
    
vartest(a)
print(a)

2
1

In [85]:
def vartest(d):
    d=d+1
    print(d)
    
vartest(3)
print(d)

4

NameError: name 'd' is not defined

## 04-1-11. 함수 안에서 함수 밖의 변수를 변경하는 방법

-----
return 사용하기

In [89]:
e=1
def vartest(e):
    e=e+1
    return e

e1=vartest(e)
e1

2

-----
global 명령어 사용하기(사용 권장x)

In [90]:
f=1
def vartest():
    global f
    f=f+1
    
vartest()
print(f)

2

## 04-1-12. lambda

In [91]:
add=lambda a, b:a+b
result=add(3,4)
print(result)

7

## 04-2-1. 사용자 입력

-----
input의 사용

In [92]:
g=input()

Life is too short, you need python.

In [93]:
g

'Life is too short, you need python.'

-----
프롬프트 띄워서 사용자 입력 받기

In [94]:
num=input("숫자를 입력하세요: ")

숫자를 입력하세요: 22

In [95]:
num

'22'

## 04-2-2. print 자세히 알기

In [96]:
h=123
print(h)

123

In [97]:
j="Python"
print(j)

Python

In [98]:
k=[1,2,3]
print(k)

[1, 2, 3]

-----
큰따옴표(")로 둘러싸인 문자열은 + 연산과 동일하다

In [99]:
print("life""is""too short")

lifeistoo short

In [100]:
print("life"+"is"+"too short")

lifeistoo short

-----
문자열 띄어쓰기는 콤마로 한다

In [101]:
print("life","is","too short")

life is too short

-----
한 줄에 결괏값 출력하기

In [102]:
for i in range(10):
    print(i, end=" * ")

0 * 1 * 2 * 3 * 4 * 5 * 6 * 7 * 8 * 9 *

## 04-3-1. 파일 생성하기

In [104]:
file=open("new_file.txt","w")  #w : 쓰기모드(파일에 내용을 쓸 때 사용)
file.close()

In [105]:
file=open("C:/Test/new_file2.txt","w")
file.close()

## 04-3-2. 파일을 쓰기 모드로 열어 출력값 적기

In [106]:
file=open("new_file2.txt","w")
for i in range(1,11):
    data="%s번째 줄입니다. \n" % i
    file.write(data)
file.close()

In [108]:
for i in range(1,11):
    data="%s번째 줄입니다. \n" % i
    print(data)

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

## 04-3-3. 프로그램의 외부에 저장된 파일을 읽는 여러 가지 방법

-----
readline() 함수 이용하기

In [110]:
file=open("new_file2.txt","r")
line=file.readline()
print(line)
file.close()

1번째 줄입니다.

In [111]:
file=open("new_file2.txt","r")
while True:
    line=file.readline()
    if not line: break
    print(line)
file.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [ ]:
#while 1:
#    data=input()
#    if not data: break
#    print(data)

-----
readlines() 함수 사용하기

In [2]:
file=open("new_file2.txt","r")
lines=file.readlines()
for line in lines:
    print(line)
file.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

-----
read() 함수 사용하기

In [3]:
file=open("new_file2.txt","r")
data=file.read()
print(data)
file.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

## 04-3-4. 파일에 새로운 내용 추가하기

In [4]:
file=open("new_file2.txt","a")
for i in range(11,20):
    data="%s번째 줄입니다. \n" % i
    file.write(data)
file.close()

In [5]:
file=open("new_file2.txt","r")
data=file.read()
print(data)
file.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.

## 04-3-5. with문과 함께 사용하기

In [6]:
f=open("new_file3.txt","w")
f.write("파이썬 공부하자 :D")
f.close()

In [8]:
f=open("new_file3.txt","r")
data=f.readline()
print(data)
f.close()

파이썬 공부하자 :D

In [9]:
with open("new_file4.txt","w") as f:
    f.write("파이썬 공부하자 :D")

In [10]:
f=open("new_file4.txt","r")
data=f.readline()
print(data)
f.close()

파이썬 공부하자 :D

In [24]:
import sys
args=sys.argv[1:]
for i in args:
    print(i.upper(), end=" ")

-F C:\USERS\PERSONAL\APPDATA\ROAMING\JUPYTER\RUNTIME\KERNEL-DCFE14BF-E4C1-4BCA-8520-D7F1B8D9C056.JSON

## 04장 연습문제

-----
Q1. 주어진 자연수를 짝/홀수 판별하는 함수(is_odd) 작성

In [3]:
def is_odd():
    return int(input("숫자를 입력하세요: "))

a=is_odd()

if a%2==0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

숫자를 입력하세요: 20
짝수입니다.

In [40]:
#책에 나온 답1

def is_odd(number):
    if number%2==1:
        return True
    else:
        return False

is_odd(7)

True

In [41]:
#책에 나온 답2

is_odd=lambda x: True if x%2==1 else False
is_odd(20)

False

-----
Q2. 입력으로 들어오는 모든 수의 평균 값을 계산해주는 함수를 작성(단, 입력 수의 개수는 정해져있지 않음)

In [9]:
def avr(*args):
    total=0
    for i in args:
        total=total+i
    return total/len(args)

a=avr(10,20,30,40,50,60,70,80,90,100)
print(a)

55.0

-----
Q3. 다음 프로그램을 수행하고 오류를 수정하기

In [10]:
input1=input("첫번째 숫자 입력: ")
input2=input("두번째 숫자 입력: ")

total=input1+input2
print("합 = %s" % total)

첫번째 숫자 입력: 3
두번째 숫자 입력: 6
합 = 36

In [11]:
input1=int(input("첫번째 숫자 입력: "))
input2=int(input("두번째 숫자 입력: "))

total=input1+input2
print("합 = %s" % total)

첫번째 숫자 입력: 3
두번째 숫자 입력: 6
합 = 9

In [1]:
#책에 나온 답

input1=input("첫번째 숫자 입력: ")
input2=input("두번째 숫자 입력: ")

total=int(input1)+int(input2)
print("합 = %s" % total)

첫번째 숫자 입력: 3
두번째 숫자 입력: 6
합 = 9

-----
Q4. 다음 중 출력 결과가 다른 것 하나는?

In [12]:
print("you" "need" "python")

youneedpython

In [14]:
print("you"+"need"+"python")

youneedpython

In [15]:
print("you", "need", "python")   #콤마가 있는 경우 공백이 삽입되어 더해진다.

you need python

In [16]:
print("".join(["you", "need", "python"]))

youneedpython

-----
Q5. 다음 프로그램을 수행하고 오류를 수정하기

In [17]:
f1=open("test.txt", "w")
f1.write("Life is too short")

f2=open("test.txt", "r")
print(f2.read())

In [19]:
f1=open("test.txt", "w")
f1.write("Life is too short")
f1.close()

f2=open("test.txt", "r")
ff=f2.readlines()
print(ff)
f2.close()

['Life is too short']

In [2]:
#책에 나온 답

f1=open("test.txt", "w")
f1.write("Life is too short")
f1.close()

f2=open("test.txt", "r")
print(f2.read())
f2.close()

Life is too short

In [7]:
#책에 나온 답2

with open("test.txt", "w") as f1:
    f1.write("Life is too short")
with open("test.txt", "r") as f2:
    print(f2.read())

Life is too short

-----
Q6. 사용자의 입력을 파일(test.txt)에 저장하는 프로그램 작성(단, 기존 작성 내용에 추가하는 걸로)

In [23]:
f3=open("test.txt", "a")
f3.write(input("내용을 입력하세요."))
f3.close()

내용을 입력하세요.내용 추가2

In [4]:
#책에 나온 답

user_input=input("내용을 입력하세요: ")
f=open("test.txt", "a")
f.write(user_input)
f.write("\n")
f.close()

내용을 입력하세요: 내용 추가

In [8]:
#내가 다시 작성한 답

user_input=input("내용을 입력하세요: ")
f=open("test.txt", "a")
f.write("\n")
f.write(user_input)
f.write("\n")
f.close()

내용을 입력하세요: you need java

-----
Q7. "java" 문자열을 "python"으로 바꾸어 저장하기

In [37]:
f4=open("test.txt","r")
fff=f4.readlines()
fff=str(fff)
f4.close()

ffff=fff.replace("java","python")
f5=open("test.txt","w")
f5.write(ffff)
f5.close()

In [10]:
#책에 나온 답

f=open("test.txt","r")
body=f.read()
f.close()

body=body.replace("java", "python")

f=open("test.txt", "w")
f.write(body)
f.close()