In [1]:
coffee=10
while True:
    money=int(input("돈을 넣어주세요:"))
    if money==300:
        print("커피를 줍니다.")
        coffee=coffee-1
    elif money>300:
        print("거스름돈 %d를 주고 커피를 줍니다." %(money-300))
        coffee=coffee-1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개입니다." %coffee)
    if not coffee:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 넣어주세요:300
커피를 줍니다.
돈을 넣어주세요:400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어주세요:1
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 8개입니다.
돈을 넣어주세요:300
커피를 줍니다.
돈을 넣어주세요:300
커피를 줍니다.
돈을 넣어주세요:300
커피를 줍니다.
돈을 넣어주세요:300
커피를 줍니다.
돈을 넣어주세요:3000
거스름돈 2700를 주고 커피를 줍니다.
돈을 넣어주세요:300
커피를 줍니다.
돈을 넣어주세요:300
커피를 줍니다.
돈을 넣어주세요:300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [3]:
a=0
while a<10:
    a=a+1
    if a%2 == 0 : continue
    print(a)

1
3
5
7
9

In [4]:
test_list=['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [5]:
a={(1,2),(3,4),(5,6)}
for (first,last) in a:
    print(first+last)

3
7
11

In [7]:
marks=[90,25,67,45,80]
number=0
for mark in marks:
    number=number+1
    if mark>=60:
        print("%d번 학생은 합격입니다." % number)

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [8]:
a= range(1,11)
a

range(1, 11)

In [9]:
sum=0
for i in range(1,11):
    sum=sum+i
print(sum)

55

In [11]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j,end=" ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [12]:
a=[1,2,3,4]
result=[]
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [13]:
result=[num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [14]:
result=[num*3 for num in a if num % 2 ==0]
print(result)

[6, 12]

In [15]:
result=[x*y for x in range(2,10)
       for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [16]:
a="Life is too short, you need python"

if "wife" in a:print("wife")
elif "python" in a and "you" not in a:print("python")
elif "shirt" not in a:print("shirt")
elif "need" in a: print("need")
else: print("nose")

shirt

In [20]:
i=0
while True:
    i += 1
    if i>5:break
    print(i*"*")

*
**
***
****
*****

In [21]:
A=[70,60,55,75,95,90,80,80,85,100]
total= 0
for score in A :
    total+=score
average=total/len(A)
print(average)

79.0

In [22]:
def sum(a,b):
    return a+b

In [23]:
a=3
b=4
c=sum(a,b)
print(c)

7

In [24]:
def sum(a,b):
    result=a+b
    return result

In [25]:
a=sum(3,4)
print(a)

7

In [26]:
def say():
    return "Hi"

In [27]:
a=say()
print(a)

Hi

In [28]:
def sum(a,b):
    print("%d, %d의 합은 %d입니다." %(a,b,a+b))

In [29]:
sum(3,4)

3, 4의 합은 7입니다.

In [30]:
a=sum(3,4)
print(a)

3, 4의 합은 7입니다.
None

In [31]:
def say():
    print("Hi")

In [32]:
say()

Hi

In [33]:
def sum_many(*args):
    sum=0
    for i in args:
        sum=sum+i
    return sum

In [35]:
result=sum_many(1,2,3)
print(result)

6

In [36]:
result=sum_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [38]:
def sum_mul(choice,*args):
    if choice == "sum":
        result=0
        for i in args:
            result = result+i
    elif choice =="mul":
        result=1
        for i in args:
            result=result*i
    return result

In [39]:
result=sum_mul('sum', 1,2,3,4,5)

In [40]:
print(result)

15

In [41]:
result=sum_mul('mul', 1,2,3,4,5)
print(result)

120

In [42]:
def sum_and_mul(a,b):
    return a+b,a*b

In [43]:
result=sum_and_mul(3,4)

In [44]:
print(result)

(7, 12)

In [45]:
sum,mul=sum_and_mul(3,4)

In [46]:
print(sum)

7

In [47]:
def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별명은 %s입니다." %nick)

In [48]:
say_nick("야호")

나의 별명은 야호입니다.

In [49]:
say_nick("바보")

In [50]:
def say_myself(name,old,man=True):
    print("나의 이름은 %s입니다." %name)
    print("나이는 %d입니다." %old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [51]:
say_myself("박응용",27)

나의 이름은 박응용입니다.
나이는 27입니다.
남자입니다.

In [52]:
say_myself("박응용",27,False)

나의 이름은 박응용입니다.
나이는 27입니다.
여자입니다.

In [54]:
def say_myself(name, man=True,old):
    print("나의 이름은 %s입니다." %name)
    print("나이는 %d입니다." %old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

SyntaxError: non-default argument follows default argument (<ipython-input-54-1c9adaffc883>, line 1)

In [55]:
a=1
def vartest(a):
    a=a+1
vartest(a)
print(a)

1

In [59]:
def vartest(hello):
    hello=hello+1

In [60]:
def vartest(a):
    a=a+1
vartest(3)
print(a)

1

In [61]:
a=1
def vartest(a):
    a=a+1
    return a
a=vartest(a)
print(a)

2

In [62]:
a=1
def vartest():
    global a
    a=a+1
vartest()
print(a)

2

In [63]:
a=input()

Life is too short, you need python

In [64]:
a

'Life is too short, you need python'

In [65]:
number=input("숫자를 입력하세요.")

숫자를 입력하세요.3

In [66]:
print(number)

3

In [67]:
a=123
print(a)

123

In [68]:
a="Python"
print(a)

Python

In [69]:
a=[1,2,3]
print(a)

[1, 2, 3]

In [70]:
print("life","is","too short")

life is too short

In [71]:
print("life""is""too short")

lifeistoo short

In [72]:
print("life"+"is"+"too short")

lifeistoo short

In [73]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [74]:
f=open("새파일.txt","w")
f.close()

In [77]:
f=open("C:/easy_r/새파일.txt",'w')
f.close()

In [79]:
f=open("C:/easy_r/새파일.txt",'w')
for i in range(1,11):
    data="%d번째 줄입니다.\n" %i
    f.write(data)
f.close()

In [80]:
for i in range(1,11):
    data="%d번째 줄입니다.\n" %i
    print(data)

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [83]:
f=open("C:/easy_r/새파일.txt","r")
line=f.readline()
print(line)
f.close()

1번째 줄입니다.

In [84]:
f=open("C:/easy_r/새파일.txt","r")
while True:
    line=f.readline()
    if not line:break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [86]:
while 1:
    data=input()
    if not data: break
    print(data)

1
1
2
2

In [87]:
f=open("C:/easy_r/새파일.txt","r")
lines=f.readlines()
for line in lines:
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [88]:
f=open("C:/easy_r/새파일.txt","r")
data=f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [89]:
f=open("C:/easy_r/새파일.txt",'a')
for i in range(11,20):
    data="%d번째 줄입니다.\n" %i
    f.write(data)
f.close()

In [90]:
f=open("foo.txt","w")
f.write("Life is too short, you need python")
f.close()

In [92]:
with open("foo.txt","w") as f:
    f.write("Life is too short, you need python")

In [93]:
def fib(n):
    if n==0 : return(0)
    if n==1 : return(1)
    return fib(n-1)+fib(n-2)

In [97]:
for i in range(10):
    print(fib(i),end=",")

0,1,1,2,3,5,8,13,21,34,

In [104]:
f=open("sample.txt")
lines=f.readlines()
f.close()

total=0
for line in lines:
    score=int(line)
    total += score
average=total/len(lines)

f=open("result.txt","w")
f.write(str(average))
f.close()