## 01-5 파이썬 둘러보기

In [2]:
1+1

2

In [3]:
1+2

3

In [4]:
3/2.4

1.25

In [5]:
3*9

27

In [6]:
a=1
b=2
a+b

3

In [7]:
a="Python"
print(a)

Python

In [8]:
#조건문 if

a=3
if a>1 : 
    print("a is greater than 1")

a is greater than 1

In [9]:
#반복문 for

for a in [1,2,3] :
    print(a)

1
2
3

In [10]:
#반복문 while

i=0
while i<3 :
    i=i+1
    print(i)

1
2
3

In [11]:
#함수

def add(a,b):
    return a+b

add(3,4)

7

## 02-1 숫자형

In [3]:
#정수형 : 정수를 뜻하는 자료형
a=123    #양의 정수
b=-178   #음의 정수
c=0      #숫자 0


#실수형(floating-point) : 소수점이 포함된 숫자
d=1.2
e=-3.14


#8진수(Octal) : 숫자가 0o 또는 0O로 시작(숫자0 + 알파벳 소문자나 대문자 o)
f=0o177


#16진수(Hexadecimal) : 0x로 시작
g=0x8ff
h=0xABC

In [14]:
#사칙연산
a=3
b=4
a+b

7

In [16]:
a*b

12

In [17]:
a/b

0.75

In [18]:
#x의 y제곱을 나타내는 ** 연산자

a=3
b=4
a**b

81

In [19]:
#나눗셈 후 나머지를 반환하는 % 연산자

7%3

1

In [20]:
#나눗셈 후 몫을 반환하는 // 연산자

7//4

1

## 02-2 문자열 자료형

In [22]:
"Hello World"

'Hello World'

In [23]:
'Pyhthon is fun'

'Pyhthon is fun'

In [24]:
"""Life is too short, you need python"""

'Life is too short, you need python'

In [51]:
'''Life is too short, you need python'''

'Life is too short, you need python'

-----
문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

In [27]:
food="Python's favorite food is perl"
food

"Python's favorite food is perl"

In [28]:
say='"Python is very easy." he says.'
say

'"Python is very easy." he says.'

In [31]:
food='Python\'s favorite food is perl'
food

"Python's favorite food is perl"

In [32]:
say="\"Python is very easy.\" he says."
say

'"Python is very easy." he says.'

-----
여러 줄인 문자열을 변수에 대입하고 싶을 때

In [45]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [46]:
multiline = '''
Life is too short
You need python
'''

print(multiline)

Life is too short
You need python

In [47]:
multiline="""
Life is too short
You need python
"""

print(multiline)

Life is too short
You need python

-----
문자열 연산하기

In [48]:
#문자열 더해서 연결하기(Concatenation)

head="Python"
tail=" is fun!"
head+tail

'Python is fun!'

In [49]:
#문자열 곱하기

a="Python"
a*2

'PythonPython'

In [50]:
#문자열 곱하기 응용

print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [53]:
#문자열 길이 구하기

a = "Life is too short, you need python"
len(a)

34

-----
문자열 인덱싱과 슬라이싱

In [54]:
a = "Life is too short, You need python"
a[3]

'e'

In [55]:
#문자열 인덱싱 활용하기

a = "Life is too short, You need python"
a[-1]

'n'

In [56]:
a[-0]

'L'

In [57]:
#문자열 슬라이싱이란?
#아래와 같이 하면 귀찮음
a = "Life is too short, You need python"
b = a[0]+a[1]+a[2]+a[3]
b

'Life'

In [58]:
#슬라이싱 기법으로 다음과 같이 간단히 처리

a = "Life is too short, You need python"
a[0:4]

'Life'

In [59]:
#슬라이싱 기법으로 번호 지정하면 끝 번호는 포함하지 않음...
#수식으로 치면 다음과 같다 : 0 <= a < 3

a[0:3]

'Lif'

In [60]:
a[12:17]

'short'

In [61]:
a[19:]

'You need python'

In [62]:
a[:17]

'Life is too short'

In [63]:
a[:]

'Life is too short, You need python'

In [64]:
a[19:-7]

'You need'

In [65]:
#슬라이싱으로 문자열 나누기

a = "20010331Rainy"
date = a[:8]
weather = a[8:]

date

'20010331'

In [66]:
weather

'Rainy'

In [67]:
a = "20010331Rainy"
year = a[:4]
date = a[4:8]
weather = a[8:]

year

'2001'

-----
"Pithon"을 "Python"으로 바꾸기

In [68]:
a = "Pithon"
a[1]

'i'

In [69]:
a[1] = y    #이러면 오류남

NameError: name 'y' is not defined

In [71]:
#슬라이싱 이용해서!

a = "Pithon"
b= a[:1] + "y" + a[2:]
b

'Python'

-----
문자열 포매팅

In [72]:
#숫자 바로 대입

"I eat %d apples." % 3

'I eat 3 apples.'

In [74]:
#문자열 바로 대입

"I eat %s apples." % "five"

'I eat five apples.'

In [75]:
#숫자 값을 나타내는 변수로 대입

number = 3
"I eat %s apples." % number

'I eat 3 apples.'

In [76]:
#2개 이상의 값 넣기

number = 10
day = "three"
"I ate %s apples, so I was sick for %s days." % (number, day)

'I ate 10 apples, so I was sick for three days.'

-----
포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 씀

In [77]:
"Error is %d%%" % 98

'Error is 98%'

-----
포맷 코드와 숫자 함께 사용하기

In [78]:
#정렬과 공백

"%10s" % "hi"         # %10s는 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬, 그 앞의 나머지는 공백 채움

'        hi'

In [79]:
"%-10sjane" % "hi"    # hi를 왼쪽으로 정렬하고 나머지는 공백으로 채움

'hi        jane'

In [80]:
#소수점 표현하기

"%0.4f" % 3.42134234

'3.4213'

In [81]:
"%10.4f" % 3.2345677

'    3.2346'

-----
format 함수를 사용한 포매팅

In [82]:
#숫자 바로 대입

"I eat {0} apples".format(3)

'I eat 3 apples'

In [83]:
#문자열 바로 대입

"I eat {0} apples".format("five")

'I eat five apples'

In [85]:
#숫자 값을 가진 변수로 대입하기

number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [86]:
#2개 이상의 값 넣기

number = 10
day = "three"
"I ate {0} apples. So I was sick for {1} days.".format(number, day)

'I ate 10 apples. So I was sick for three days.'

In [87]:
#이름으로 넣기

"I ate {number} apples. So I was sick for {day} days.".format(number=10, day="five")

'I ate 10 apples. So I was sick for five days.'

In [88]:
#인덱스와 이름을 혼용해서 넣기

"I ate {0} apples. So I was sick for {day} days.".format(3, day="two")

'I ate 3 apples. So I was sick for two days.'

In [89]:
#왼쪽 정렬

"{0:<10}".format("hi")

'hi        '

In [91]:
#오른쪽 정렬

"{0:>10}".format("hi")

'        hi'

In [92]:
#가운데 정렬

"{0:^10}".format("hi")

'    hi    '

In [93]:
"{0:=^10}".format("hi")

'====hi===='

In [94]:
"{0:!>10}".format("hi")

'!!!!!!!!hi'

In [95]:
y=3.123456789
"{0:0.4f}".format(y)

'3.1235'

In [97]:
"{0:10.5f}".format(y)

'   3.12346'

In [98]:
"{{ and }}".format()

'{ and }'

In [101]:
name = "starbucks"
age = 30
f'나의 이름은 { name }입니다. 나이는 { age }입니다.'

SyntaxError: invalid syntax (<ipython-input-101-903ea6c9dc7a>, line 3)

## 02-3 리스트 자료형

In [3]:
odd = [1,3,5,7,9]

In [4]:
a = []

In [5]:
b = [1,2,3]

In [6]:
c = ['Life','is','too','short']

In [7]:
d = [1,2,'Life','is']

In [8]:
e = [1,2,['Life','is']]

In [9]:
f = [1,2,3]

In [10]:
f

[1, 2, 3]

In [11]:
f[0]

1

In [12]:
f[0] + f[2]

4

In [13]:
f[-1]

3

In [14]:
f = [1,2,3,['a','b','c']]

In [15]:
f[0]

1

In [16]:
f[-1]

['a', 'b', 'c']

In [17]:
f[3]

['a', 'b', 'c']

In [18]:
f[-1][0]

'a'

In [19]:
f[-1][2]

'c'

In [20]:
a = [1,2,['a','b',['Life','is']]]

In [21]:
a[2][2][0]

'Life'

In [22]:
a = [1,2,3,4,5]

In [23]:
a[0:2]

[1, 2]

In [24]:
a = "12345"

In [25]:
a[0:2]

'12'

In [26]:
a = [1,2,3,4,5]

In [27]:
b = a[:2]

In [28]:
c = a[2:]

In [29]:
b

[1, 2]

In [30]:
c

[3, 4, 5]

In [31]:
a=[1,2,3,['a','b','c'],4,5]

In [32]:
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [33]:
a[3][:2]

['a', 'b']

In [34]:
a=[1,2,3]
b=[4,5,6]

a+b

[1, 2, 3, 4, 5, 6]

In [36]:
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [37]:
a=[1,2,3]
a[2]+"hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
str(a[2])+"hi"

'3hi'

In [39]:
a=[1,2,3]
a[2]=4

In [40]:
a

[1, 2, 4]

In [41]:
a[1:2]

[2]

In [42]:
a[1:2]=['a','b','c']

In [43]:
a

[1, 'a', 'b', 'c', 4]

In [44]:
a[1]=['a','b','c']

In [45]:
a

[1, ['a', 'b', 'c'], 'b', 'c', 4]

In [46]:
a[1:2]=[]

In [47]:
a

[1, 'b', 'c', 4]

In [48]:
a[1]=[]

In [49]:
a

[1, [], 'c', 4]

In [50]:
a[1:2]=[]

In [51]:
a

[1, 'c', 4]

In [52]:
del a[1]

In [53]:
a

[1, 4]

In [54]:
a=[1,2,3]

In [55]:
a.append(4)

In [56]:
a

[1, 2, 3, 4]

In [57]:
a.append([5,6])

In [58]:
a

[1, 2, 3, 4, [5, 6]]

In [59]:
a=[1,4,3,2]

In [60]:
a.sort()

In [61]:
a

[1, 2, 3, 4]

In [62]:
a=['a','c','b']

In [63]:
a.sort()

In [64]:
a

['a', 'b', 'c']

In [65]:
a=['b','a','c']

In [67]:
a.reverse()

In [68]:
a

['c', 'a', 'b']

In [69]:
a=[1,2,3]

In [70]:
a.index(3)

2

In [71]:
a.index(1)

0

In [72]:
a.index(4)

ValueError: 4 is not in list

In [73]:
a=[1,2,3]

In [74]:
a.insert(0,2)

In [75]:
a

[2, 1, 2, 3]

In [76]:
a.insert(3,5)
a

[2, 1, 2, 5, 3]

In [78]:
a=[1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [79]:
a.remove(3)
a

[1, 2, 1, 2]

In [80]:
a=[1,2,3]
a.pop()
a

[1, 2]

In [81]:
a=[1,2,3]
a.pop(1)
a

[1, 3]

In [83]:
a=[1,2,3,1]
a.count(1)

2

In [85]:
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [87]:
b=[6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 6, 7]

## 02-4 튜플 자료형

In [88]:
t1=()
t2=(1,)
t3=(1,2,3)
t4=1,2,3
t5=('a','b',('ab','cd'))

In [89]:
t1=(1,2,'a','b')

In [90]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [91]:
t1[0]

1

In [92]:
t1[1:]

(2, 'a', 'b')

In [93]:
t2=(3,4)
t1+t2

(1, 2, 'a', 'b', 3, 4)

In [94]:
t2*3

(3, 4, 3, 4, 3, 4)

## 02-5 딕셔너리 자료형

In [95]:
dic={'name':'kim','phone':'010','birth':'0221'}

In [96]:
dic

{'birth': '0221', 'name': 'kim', 'phone': '010'}

In [97]:
print(dic)

{'name': 'kim', 'birth': '0221', 'phone': '010'}

In [98]:
a={1:"hi"}

In [99]:
a={"a":[1,2,3]}

In [100]:
a={1:'a'}
a[2]='b'

In [101]:
a

{1: 'a', 2: 'b'}

In [102]:
a['name']='kim'
a

{1: 'a', 2: 'b', 'name': 'kim'}

In [103]:
a[3]=[1,2,3]
a

{3: [1, 2, 3], 1: 'a', 2: 'b', 'name': 'kim'}

In [104]:
del a[1]
a

{3: [1, 2, 3], 2: 'b', 'name': 'kim'}

In [105]:
grade={'kim':10,'julliet':99}
grade['kim']

10

In [106]:
grade['julliet']

99

In [107]:
a={1:'a',2:"b"}

In [108]:
a[2]

'b'

In [109]:
dic={'name':'kim','phone':'010','birth':'0220'}
dic['name']

'kim'

In [110]:
a={1:'a',1:'b'}
a

{1: 'b'}

In [111]:
a={{1,2}:"hi"}

TypeError: unhashable type: 'set'

In [112]:
a={'name':'kim','phone':'010','birth':'0220'}
a.keys()

dict_keys(['name', 'birth', 'phone'])

In [113]:
for k in a.keys():
    print(k)

name
birth
phone

In [114]:
list(a.keys())

['name', 'birth', 'phone']

In [115]:
a.values()

dict_values(['kim', '0220', '010'])

In [116]:
a.items()

dict_items([('name', 'kim'), ('birth', '0220'), ('phone', '010')])

In [117]:
a.clear()
a

{}

In [118]:
a={'name':'kim','phone':'010','birth':'0220'}
a.get('name')

'kim'

In [119]:
a.get('phone')

'010'

In [120]:
a.get('nokey')

In [121]:
a['nokey']

KeyError: 'nokey'

In [122]:
'name' in a

True

In [123]:
'email' in a

False

## 02-6 집합 자료형

In [125]:
s1=set([1,2,3])
s1

{1, 2, 3}

In [126]:
s2=set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [127]:
s1=set([1,2,3])

In [128]:
l1=list(s1)
l1

[1, 2, 3]

In [129]:
l1[0]

1

In [130]:
t1=tuple(s1)
t1

(1, 2, 3)

In [131]:
t1[0]

1

In [133]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])

In [134]:
s1 & s2

{4, 5, 6}

In [135]:
s1.intersection(s2)

{4, 5, 6}

In [136]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [137]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [138]:
s1-s2

{1, 2, 3}

In [140]:
s2-s1

{7, 8, 9}

In [141]:
s1.difference(s2)

{1, 2, 3}

In [142]:
s2.difference(s1)

{7, 8, 9}

In [143]:
s1=set([1,2,3])

In [144]:
s1.add(4)

In [145]:
s1

{1, 2, 3, 4}

In [146]:
s1=set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [147]:
s1=set([1,2,3])
s1.remove(2)
s1

{1, 3}

## 02-7 자료형의 참과 거짓

In [158]:
a=[1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [152]:
a

[]

In [154]:
if[]:
    print("True")
else:
    print("False")

False

In [155]:
if[1,2,3]:
    print("True")
else:
    print("False")

True

## 02-8 자료형의 값을 저장하는 공간, 변수

In [159]:
a=3
type(3)

int

In [160]:
a=3
b=3
a is b

True

In [163]:
import sys
sys.getrefcount(4)

559

In [164]:
a,b=('python','life')

In [165]:
(a,b)='python','life'

In [166]:
a=b='python'

In [167]:
a=3
b=5
a,b=b,a
a

5

In [168]:
b

3

In [171]:
del(b)
b

NameError: name 'b' is not defined

In [172]:
a=[1,2,3]
b=a
a[1]=4
a

[1, 4, 3]

In [173]:
b

[1, 4, 3]

In [174]:
a=[1,2,3]
b=a[:]
a[1]=4
a

[1, 4, 3]

In [175]:
b

[1, 2, 3]

In [176]:
from copy import copy
b=copy(a)

In [177]:
b is a

False